@charset "utf-8";
Body{
	background-color:lightblue
}

.Mytitle{
	background-image: url("My Sky.jpg");
	height: 150px;
	padding: 50px;
	background-position: center;
  background-repeat: no-repeat;
	text-align: center;
  background-size: cover;
  position: relative;
	color: white;
	font-size: 70px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
	
	
}

.showcase {
	display: none;
	position: absolute;
	width: 50%;
	margin: auto;
  top: 30px; left: 0; bottom: 30px; right: 0;

	z-index: 10;
	text-align: center;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: cadetblue;
  font-size: 35px;
  cursor: pointer;
}
.gallery{
    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: cadetblue;
    overflow: hidden;
    display: inline-grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-right: 20px;
}

.galleryimage img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	
}

.galleryimage img:hover{
	transform: scale(2.5)
}

.SmallDesc img{
	Font-color: White



}